.common-header-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  background: #f1f1f1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 10px 20px;
  align-items: center;
  > .navbar {
    display: inline-block;
    width: 30%;
    display: flex;
    justify-content: space-between;
  }
  > .navbar > a {
    color: #4a4141;
    text-decoration: none;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    display: flex;
  }
  > .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  > .logo > img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
}
