table {
  width: 100%;
  border-spacing: 0;
}

table th {
  width: 25%;
  border-bottom: solid 2px black;
  padding: 10px 0;
}

table td {
  width: 75%;
  border-bottom: solid 2px $steam;
  text-align: center;
  padding: 10px 0;
}
