.user-tab-header-container {
  margin-bottom: 40px;
  > .wrapper {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style-type: none;
  }
  > .wrapper > .tab {
    margin: 0 16px;
    font-size: 18px;
    color: $stone-cold;
    cursor: pointer;
  }
  > .wrapper > .tab > .active {
    color: $ultimate-orange;
    border-bottom: 2px solid $ultimate-orange;
    padding-bottom: 8px;
  }
}
